* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana; 
    font-size: 18px;
    user-select: none;
}

/* --------- HEADER --------- */

header {
    width: 100%;
    padding: 30px;
    background: #333333;
}

header nav.nav-expanded {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
}

header nav.nav-expanded a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit
}

header nav.nav-expanded a:hover{
    color: white;
}

header nav.nav-expanded :not(:first-child) {
    margin-left: 20px;
}

/* --------- MAIN --------- */

card {
    
}

/* --------- MOBILE VIEW --------- */
@media (max-width: 768px) {
    /* --------- HEADER --------- */
    header nav.nav-expanded {
        display: none;
    }
}